body {
  background-color: lightyellow;
  padding: 0 auto;
  margin: 0 auto;
}

/* Element Selector */
h1 {
  color: darkorange;
  text-align: center;
  margin: 60 auto;
}

h2 {
  color: brown;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h3 {
  text-decoration: underline;
  font-size: 16px;
  color: darkorange;
  padding: 0px 15px;
}

h4 {
  text-align: center;
}

p {
  display: inline-block;
}

img {
  display: block;
  margin: auto;
  width: 30%;
}

p {
  color: black;
  font-size: 15px;
  margin: 0px;
  padding: 0px 20px;
}

ol li {
  font-weight: bold;
  margin-top: 15px;
}

a:hover {
  color: hotpink;
}

/* Class selector is used to style a block */

.card {
  display: grid;
  grid-template-columns: 400px;
  margin: 0px;
  align-items: center;
}

.details {
  margin: 0px;
  padding: 20px 20px;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
